process {
    executor = 'awsbatch'
    
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    withName: VCF2MAF {
      errorStrategy = 'retry'
      maxRetries = 2
      cpus   = 2
      memory = { 16.GB * task.attempt } 
    }
}


aws {
  region = 'us-east-1'
}